ErrorDocument 404 /404.php
RedirectMatch 404 /\.git
Redirect 302 /about/ /aboutus.php
Redirect 302 /questions/ /faqs.php
Redirect 302 /contact-us/ /contactus.php
RewriteEngine On
RewriteCond %{HTTP_HOST}  !^www\.houndawayfromhome\.com$ [NC]
RewriteRule ^(.*) https://www.houndawayfromhome.com/$1 [L,R]

<Files updatesite.php>
FileETag None
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</Files>
