<?php
$DEBUG = false;
$STAGE = "";
$DEVELOPMENT_IPS = [];
$SMTP_FROM_EMAIL = "";
$SMTP_FROM_NAME = "";
$CONTACT_US_EMAIL = "";
$CONTACT_US_NAME = "";
$SMTP_USERNAME = "";
$SMTP_PASSWORD = "";
$SMTP_HOSTNAME = "";
$RECAPTCHA_SITE_KEY = "";
$RECAPTCHA_SECRET_KEY = "";
$NEWSLETTER_CSV = "";
$EBOOK_CSV = "";
$HUBSPOT_API_TOKEN = "";
?>