section.meet-your-coach-section {
    padding-top: 80px;
}

h2.meet-coach-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-top: 45px;
}

p.meet-coach-desc {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-right: 30px;
}

.meet-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
}

.meet-content {
    padding: 32px 92px 10px 0;
}

section.meet-des-sec {
    position: relative;
    margin-top: -110px;
}

section.meet-des-sec:before {
    position: absolute;
    content: '';
    background: linear-gradient(86.68deg, #F0FAFF 2.65%, #EAF8FF 96.4%);
    border-radius: 20px;
    width: 80%;
    height: 100%;
    z-index: -1;
    top: 0;
}

p.first-con {
    width: 50%;
}

section.who-course-section {
    padding: 80px 0;
}

h2.who-course-heading {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 20px;
}

section.who-course-section ul li {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-bottom: 14px;
    list-style: none;
}

section.who-course-section ul li {
    position: relative;
}

section.who-course-section ul.left li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/leftcheck.png);
    left: -31px;
    top: 0;
}

section.who-course-section ul.right li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/rightcheck.png);
    left: -31px;
    top: 0;
}

section.limited-time-section h3 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
}

section.limited-time-section p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #564E4D;
}



section.limited-time-section .container {
    background: url('/images/course/limited-time-banner.png');
    background-repeat: no-repeat;
    padding: 70px;
    background-size: cover;
    border-radius: 24px;
}

section.limited-time-section button.btn {
    margin-top: 10px !important;
}

section.frequently-asked-section {
    padding: 80px 0;
}

h2.frequently-asked-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 50px;
}

section.frequently-asked-section h3 {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
}

section.frequently-asked-section p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #564E4D;
}

.freq-ques {
    border: 1px solid #F5EBEA;
    border-radius: 16px;
    padding: 24px 32px;
    margin: 0 0 20px 0;
}

section.disclaimer {
    background: #230906;
    padding: 50px 80px;
}

section.disclaimer h2 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    padding-bottom: 20px;
}


section.disclaimer h4 {
    font-family: "Lato", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

section.disclaimer p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    opacity: 0.6;
}

.disclaimer-details {
    background: #FFF6EF0D;
    padding: 24px 32px;
    border-radius: 16px;
    margin-bottom: 20px;
}