@font-face {
    font-family: 'Gilroy-Black';
    src: url('/styles/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    /* Black weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/styles/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    /* ExtraBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/styles/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/styles/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* SemiBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/styles/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/styles/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('/styles/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    /* Light weight */
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Gilroy-Medium', sans-serif;
}

a, p {
    font-family: "Lato", serif;
}


/*********************************************************/

.enrolled.two {
    position: relative;
}

.enrolled.two:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    left: -40px;
    top: 0px;
    background: url('/images/course/line.png');
    background-repeat: no-repeat;
}

.enrolled.two:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    right: -40px;
    top: 0px;
    background: url('/images/course/line.png');
    background-repeat: no-repeat;
}

/*2nd section*/
h2.why-choose-heaading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-top: 50px;
}

p.why-choose-desc {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-right: 10px;
}

.box-section img {
    width: 100px;
}

.box-section:hover {
    background: #fff;
    box-shadow: 0px 0px 100px 0px #0000000F;
}

.box-section {
    border: 1px solid #F5EBEA;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 40px;
    background: #ffe8d570;
}

.box-section h4 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-top: 26px;
}

/*3rd why choose section*/
section.learn-course .container {
    background: linear-gradient(180deg, #FFF6EF 0%, #FFECDD 100%);
    border-radius: 24px;
    padding: 80px 56px;
    margin-top: 100px;
}

section.learn-course .col-md-7 {
    padding-left: 80px;
    padding-top: 80px;
}


.second {
    position: relative;
}

.second:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: url('/images/course/paws1.png');
    left: 457px;
    top: 0;
}

section.learn-course {
    position: relative;
}

section.learn-course:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 80%;
    background: url('/images/course/fullline.svg');
    left: 47%;
    top: 183px;
    z-index: 9999999999;
    background-repeat: no-repeat;
    background-size: cover;
}

.row.second {
    padding: 32px 0;
}

.col-md-7.second {
    padding-left: 0 !important;
    padding-right: 80px;
}

h2.learn-course-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 50px;
}

h3.learn-course-title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 20px;
}

ul.learn-course-description li {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-bottom: 10px;
}

img.learn-img {
    width: 490px;
    height: auto;
    border-radius: 20px;
}

ul.learn-course-description li {
    position: relative;
    list-style: none;
}

ul.learn-course-description li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/check.png);
    left: -31px;
    top: 0;
}

.course-btn.btns button.btn {
    margin-top: 50px;
    background: #fff;
}

section.learn-course .container {
    position: relative;
}

section.learn-course .container:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 62px;
    background: url('/images/course/paws2.png');
    right: 60px;
    top: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

section.learn-course .container:after {
    position: absolute;
    content: '';
    width: 144px;
    height: 80px;
    background: url('/images/course/paws3.png');
    right: 30px;
    bottom: 22px;
    background-size: cover;
    background-repeat: no-repeat;
}

h2.-outline-course-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 12px;
}

p.outline-course-desc {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-bottom: 50px;
    width: 60%;
    margin: 0 auto;
}

section.course-outline {
    padding-top: 80px;
}


#courseOutline .card {
    border-radius: 0;
    border-bottom-width: 0;
}

#courseOutline .card .card-header {
    border-bottom-width: 0;
}

#courseOutline .card .card-header:has(.accordion-button:not(.collapsed)) {
    background-color: rgba(238, 250, 255, 0.5) !important;
    border-bottom-width: 1px;
}

#courseOutline .card:first-child,
#courseOutline .card:first-child .card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#courseOutline .card:last-child,
#courseOutline .card:last-child .card-header,
#courseOutline .card:last-child .card-body,
#courseOutline .card:last-child .card-body .accordion-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#courseOutline .card:last-child .card-header:has(.accordion-button:not(.collapsed)) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#courseOutline .card:last-child,
#courseOutline .card:last-child .card-body {
    border-bottom-width: 1px;
}

button.accordion-button {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #393332 !important;
}

.accordion-body {
    background: linear-gradient(180deg, rgba(238, 250, 255, 0.5) 0%, rgba(227, 247, 255, 0.5) 100%);
}

.accordion-body h4 {
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #393332;
}

.accordion-body p {
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-bottom: 15px;
    border-bottom: 1px solid #DFE5E8;
}

.accordion-button:focus {
    box-shadow: none;
}

button.accordion-button.collapsed:after {
    border: 1px solid #d7eaf2 !important;
    padding: 12px !important;
    border-radius: 100% !important;
}

.accordion-button:not(.collapsed):after {
    background: #0279AD;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(/images/course/open.png);
    background-repeat: no-repeat;
    transition: var(--bs-accordion-btn-icon-transition);
    padding: 12px !important;
    border-radius: 100%;
    background-position: 6px 7px;
}

.accordion-button::after {
    background-image: url(/images/course/close.png);
    background-size: inherit;
    background-position: 6px 8px;
}

.accordion-body p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.accordion-button:not(.collapsed):after svg {
    fill: #fff !important;
    /* New icon color */
    stroke: red;
}

/*button.accordion-button.collapsed {
    --bs-accordion-btn-icon: url('/images/course/line.png') !important;
}*/
ul.list-unstyled.d-flex.justify-content-right.text-warning.mb-0 {
    justify-content: right;
    margin-top: 8px;
}

.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}

section.testimonial-section {
    background: linear-gradient(140.37deg, #069EE0 24.28%, #0279AD 103.59%);
    padding: 80px;
    margin-top: 100px;
}

img.testimonial-image {
    max-width: 100%;
    height: 50px;
    width: inherit;
    margin-bottom: 0px !important;
}

h2.testimonial-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.slide-inner p {
    font-style: italic;
    color: #6D6463 !important;
    font-family: 'Lato';
}

.slide-inner p.text-muted {
    font-style: italic;
    color: #6D6463 !important;
    font-family: 'Lato';
    text-align: left;
    margin-top: 41px;
    margin-bottom: 36px;
}

.content-left p {
    color: #4F4F4F;
    margin-top: 0;
    font-style: normal;
}

.slide-inner {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
}

.content-left h5 {
    margin-bottom: 0px !important;
    font-size: 18px;
    color: #350D09;
}

ul.list-unstyled.d-flex.justify-content-right.text-warning.mb-0 li {
    margin-left: 5px;
}

.content-left {
    position: relative;
    top: 8px;
    left: -8px;
}

ul.list-unstyled.d-flex.justify-content-right.text-warning.mb-0 {
    position: relative;
}

ul.list-unstyled.d-flex.justify-content-right.text-warning.mb-0:before {
    content: url(/images/course/quote.png);
    position: absolute;
    left: 0;
    top: 0;
}

p.testimonial-desc {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    opacity: 0.6;
    padding-bottom: 30px;
    padding-top: 20px;
}

.btn-hightlight button {
    color: #fff;
    border: 1px solid #AD733A !important;
    background: #AD733A !important;
    color: #fff;
    border: 1px solid #AD733A;
}

.btn-hightlight button:hover {
    color: #fff !important;
}

.content-left {
    text-align: left;
}

.slide-inner a {
    color: #0481B9;
}

section.meet-your-coach-section {
    padding-top: 80px;
}

h2.meet-coach-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-top: 45px;
}

p.meet-coach-desc {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-right: 30px;
}

.meet-content p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
}

.meet-content {
    padding: 32px 92px 10px 0;
}

section.meet-des-sec {
    position: relative;
    margin-top: -110px;
}

section.meet-des-sec:before {
    position: absolute;
    content: '';
    background: linear-gradient(86.68deg, #F0FAFF 2.65%, #EAF8FF 96.4%);
    border-radius: 20px;
    width: 80%;
    height: 100%;
    z-index: -1;
    top: 0;
}

p.first-con {
    width: 50%;
}

section.who-course-section {
    padding: 80px 0;
}

h2.who-course-heading {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 20px;
}

section.who-course-section ul li {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6D6463;
    padding-bottom: 14px;
    list-style: none;
}

section.who-course-section ul li {
    position: relative;
}

section.who-course-section ul.left li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/leftcheck.png);
    left: -31px;
    top: 0;
}

section.who-course-section ul.right li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/rightcheck.png);
    left: -31px;
    top: 0;
}

section.limited-time-section h3 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56.5px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
}

section.limited-time-section p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #564E4D;
}



section.limited-time-section .container {
    background: url('/images/course/limited-time-banner.png');
    background-repeat: no-repeat;
    padding: 70px;
    background-size: cover;
    border-radius: 24px;
}

section.limited-time-section button.btn {
    margin-top: 10px !important;
}

section.frequently-asked-section {
    padding: 80px 0;
}

h2.frequently-asked-heading {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
    padding-bottom: 50px;
}

section.frequently-asked-section h3 {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #350D09;
}

section.frequently-asked-section p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #564E4D;
}

.freq-ques {
    border: 1px solid #F5EBEA;
    border-radius: 16px;
    padding: 24px 32px;
    margin: 0 0 20px 0;
}

section.disclaimer {
    background: #230906;
    padding: 50px 80px;
}

section.disclaimer h2 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47.08px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    padding-bottom: 20px;
}


section.disclaimer h4 {
    font-family: "Lato", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

section.disclaimer p {
    font-family: "Lato", serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    opacity: 0.6;
}

.disclaimer-details {
    background: #FFF6EF0D;
    padding: 24px 32px;
    border-radius: 16px;
    margin-bottom: 20px;
}