@font-face {
    font-family: 'Gilroy-Black';
    src: url('/styles/fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    /* Black weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('/styles/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    /* ExtraBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/styles/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    /* Bold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/styles/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    /* SemiBold weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/styles/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/styles/fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('/styles/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    /* Light weight */
    font-style: normal;
}

body {
    font-family: "Lato", serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Gilroy-Medium', sans-serif;
}


.redbox,
.rb {
    border: 1px solid red !important;
}

/* index.php */

.header-bg {
    background: linear-gradient(180deg, var(--bs-info), var(--bs-light));
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("/images/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.google-maps {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* Course Landing Page: Why Choose Dog Boarding? */

.infobox {
    border: 1px solid var(--bs-info);
    background: var(--bs-light);
}

.infobox:hover {
    background: var(--bs-white);
    box-shadow: 0px 0px 100px 0px #0000000F;
    cursor: grab;
}

/* Course Landing Page: What you'll learn in this course */
/* Course Landing Page: Limited Time Pre-Launch Bonuses */

ul.checkmark-list li,
ul.blue-checkmark-list li,
ul.brown-checkmark-list li {
    position: relative;
    list-style: none;
}

ul.checkmark-list li:before,
ul.blue-checkmark-list li:before,
ul.brown-checkmark-list li:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 24px;
    background: url(/images/course/check.png);
    left: -31px;
    top: 0;
}

ul.blue-checkmark-list li:before {
    background: url(/images/course/leftcheck.png);
}

ul.brown-checkmark-list li:before {
    background: url(/images/course/rightcheck.png);
}

/* Course Landing Page: Course Outline */

#courseOutlineToggle:before {
    content: "Expand All";
}

#courseOutlineToggle.active:before {
    content: "Collapse All";
}

#courseOutline .card {
    border-radius: 0;
    border-bottom-width: 0;
}

#courseOutline .card .card-header {
    border-bottom-width: 0;
}

#courseOutline .card .card-header:has(.accordion-button:not(.collapsed)) {
    background-color: rgba(238, 250, 255, 0.5) !important;
    border-bottom-width: 1px;
}

#courseOutline .card:first-child,
#courseOutline .card:first-child .card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#courseOutline .card:last-child,
#courseOutline .card:last-child .card-header,
#courseOutline .card:last-child .card-body,
#courseOutline .card:last-child .card-body .accordion-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#courseOutline .card:last-child .card-header:has(.accordion-button:not(.collapsed)) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#courseOutline .card:last-child,
#courseOutline .card:last-child .card-body {
    border-bottom-width: 1px;
}

#courseOutline .card .card-body .accordion-body {
    background: linear-gradient(180deg, rgba(238, 250, 255, 0.5) 0%, rgba(227, 247, 255, 0.5) 100%);
}

#courseOutline .card .card-body .accordion-body p {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFE5E8;
}

#courseOutline .card .card-body .accordion-body p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

button.accordion-button:focus {
    box-shadow: none;
}

button.accordion-button:after {
    border: 1px solid #d7eaf2 !important;
    padding: 12px !important;
    border-radius: 100% !important;
}

button.accordion-button:not(.collapsed):after {
    background: #0279AD;
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url(/images/course/accordion_open.png);
    background-repeat: no-repeat;
    transition: var(--bs-accordion-btn-icon-transition);
    background-position: 6px 7px;
}

button.accordion-button::after {
    background-image: url(/images/course/accordion_close.png);
    background-size: inherit;
    background-position: 6px 8px;
}

/* Course Landing Page: Testimonials */

.read-more.hidden .read-more-link {
    display: inline-block;
}

.read-more .read-more-link {
    display: none;
}

.read-more.hidden .read-more-content {
    display: none;
}

/* Introductory Guide Video */

.enroll-modal {
    --bs-modal-header-border-width: 0;
    --bs-modal-footer-border-width: 0;
    --bs-modal-border-radius: 2rem;
}